doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, minimum-scale=1, maximum-scale=1')
    meta(name='apple-mobile-web-app-capable', content='yes')
    meta(name='apple-mobile-web-app-status-bar-style', content='black')
    title Register
    link(rel='stylesheet', href='/stylesheets/jquery.mobile-1.0.css')
    link(rel='stylesheet', href='/stylesheets/jquery.mobile.scrollview.css')
    //
       <link rel="stylesheet" href="../../docs/_assets/css/jqm-docs.css" /> 
    style
      .ui-content.ui-scrollview-clip {
      padding: 0;
      }
      .ui-content.ui-scrollview-clip > div.ui-scrollview-view {
      margin: 0;
      padding: 15px;
      }
      .ui-content.ui-scrollview-clip > .ui-listview.ui-scrollview-view {
      margin: 0;
      }
    script(src='/javascripts/jquery.js')
    script(src='/javascripts/jquery.mobile-1.0.js')
    script(src='/javascripts/jquery.easing.1.3.js')
    script(src='/javascripts/jquery.mobile.scrollview.js')
    script(src='/javascripts/scrollview.js')
    script
      $(document).ready(function(){
      console.log(localStorage.fname);
      console.log(localStorage.lname);
      $(window).unload(saveSettings);
      loadSettings();
      });
      function loadSettings() {
      $('#fname').val(localStorage.fname);
      $('#lname').val(localStorage.lname);
      $('#age').val(localStorage.age);
      $('#sex').val(localStorage.sex);
      $('#location').val(localStorage.location);
      $('#uname').val(localStorage.uname);
      $('#email').val(localStorage.email);
      }
      function saveSettings() {
      localStorage.fname = $('#fname').val();
      localStorage.lname = $('#lname').val();
      localStorage.age = $('#age').val();
      localStorage.sex = $('#sex').val();
      localStorage.location = $('#location').val();
      localStorage.uname = $('#uname').val();
      localStorage.email = $('#email').val();
      console.log(localStorage.fname + ", " + localStorage.lname);
      }
  body
    form(method='post', action='/users')
    #jqm-home.type-interior(data-role='page', data-theme='a')
      div(data-role='header', data-position='fixed')
        h1 Sign Up
        a.back(href='/sessions/new', data-theme='a',  data-transition='slideup') Back
      div(data-role='content')
        div(data-theme='b')
          input#fname(type='text', placeholder='First Name', name='user[first_name]', value=user.first_name || '')
          input#lname(type='text', placeholder='Last Name', name='user[last_name]', value=user.last_name || '')
          input#age(type='text', placeholder='Age', name='user[age]', value=user.age || '')
          select#sex(name='user[sex]', data-native-menu='false')
            option Sex
            option(value =user.sex,selected=1)='Male'
            option(value =user.sex)='Female'
          input#location(type='text', placeholder='Location', name='user[location]', value=user.location || '')
          input#uname(type='text', placeholder='User Name', name='user[username]', value=user.username || '')
          input#email(type='email', placeholder='Email', name='email',id='UserEmail')
          input#password(type='password', placeholder='Password', name='user[password]', value=user.password || '')
        div
          input#submit(type ='submit',value='Register')
    div(data-role='footer', data-position='fixed')
      h4 Powered By:Pragmatic Techsoft
